.custom-menu-button, .custom-menu {
  -fx-background-color: #0090ff;
  -fx-text-fill: white;
  -fx-border: none;
  -fx-font-size: 16px;
}

.eval-button {
  -fx-background-color: #dc4ff3;
  -fx-text-fill: white;
  -fx-border: none;
  -fx-font-size: 16px;
}

.custom-menu-button:hover {
  -fx-background-color: #5f676b;
}

.eval-button:hover {
  -fx-background-color: #ff80ca;
}

.operations-title {
  -fx-background-color: #9500ff;
  -fx-text-fill: white;
  -fx-text-alignment: center;
  -fx-border: none;
}

.op-node {
  -fx-text-alignment: center;
  -fx-font-size: 20px;
}

.cool-text {
  -fx-font-size: 30px;
  -fx-padding: 50%;
  -fx-text-alignment: center;
}